*{
	margin:0;
	padding: 0;
}
.details .imgBottom img{
	width: 100px;
	height: 85px;
}
.details form input[type="number"]{
	width: 50px;
	height: 40px;
}
.details small{
	font-size: 25px;
	color: red;

}
.details .imgTop img{
	width: 500px;
	height: 500px;
}
